.Notes {
  --clr-bg: #181818;
  --clr-main: #212121;
  --clr-hover: #3d3d3d;
  --clr-font: #ffffff;
  --clr-alt: #aaaaaa;
  --transition: background-color 200ms;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: stretch;

  min-height: 400px;
  /* min-width: 400px; */
  border: 1px solid var(--clr-hover);
  position: relative;
  font-size: 16px;
  background-color: var(--clr-main);
  margin: 0;
  padding: 0;
}

.Notes ul {
  padding: 0;
}
.Notes li {
  list-style-type: none;
}

.Notes .control-panel {
  height: 100%;
}

.Notes .editor-panel > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid var(--clr-hover);
}

.Notes input,
textarea,
select {
  background-color: inherit;
  font: inherit;
}
.Notes input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.Notes .note-title {
  padding: 0.4em 0.6em;
  border: none;
}
.Notes .note-text {
  width: 100%;
  height: 100%;
  max-height: 600px;
  max-width: 600px;
  font: inherit;
  padding: 0.4em 0.6em;
  min-width: fit-content;
  box-sizing: border-box;
  border: none;
}
.Notes .note-list {
  margin: 0;
  overflow-y: scroll;
  max-height: 400px;
}
.Notes .note-item {
  padding: 0.4em 0.8em;
  cursor: pointer;
  transition: var(--transition);
}
.Notes .note-item:hover {
  background-color: var(--clr-hover) !important;
}

.Notes button {
  cursor: pointer;
  border: none;
  background-color: var(--clr-main);
  transition: var(--transition);
}
.Notes button:hover {
  background-color: var(--clr-hover);
}

.Notes .btn-add {
  padding: 0.6em 1em;
  width: 100%;
}
.Notes .btn-favorite,
.btn-trash {
  padding: 0.6em 1em;
  /* width: 100%; */
}

.Notes .btn-favorite {
  padding: 0.6em 1em;
  width: 100%;
  font-weight: 600;
  background-color: inherit;
  border: none;
}

.Notes .editor-main {
  display: flex;
  justify-content: center;
}

.Notes .note-list::-webkit-scrollbar {
  width: 0px;
}

.Notes .favorite {
  color: #ffc83d;
}

.Notes .btn-trash:hover {
  background-color: red;
}

/* ::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
} */

.btn-tray {
  display: flex;
}
