* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* max-width: 1280px; */

  --clr-bg: #181818;
  --clr-main: #212121;
  --clr-hover: #3d3d3d;
  --clr-font: #ffffff;
  --clr-alt: #aaaaaa;
  --transition: background-color 200ms;
}

a {
  text-decoration: none;
  color: inherit;
}


.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-bg);
  color: var(--clr-font);
}

.app-sidebar {
  height: 100%;
  background-color: var(--clr-main);
  padding: 1em .4em;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-display {
  height: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.app-wrapper {
  margin: 0 auto;
}

.app-list {
  display: flex;
  flex-direction: column;
  /* gap: 0.6em; */
}
.resources {

}
.app-link {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  padding: .2em 1em;
  border-radius: 5px;
}
.app-link:hover {
  background-color: var(--clr-hover);
}

